.order-section{
    height: 100vh;
    width: 100%;
    background: rgb(18,44,40);
}
.heading{
    color: #fff;
    font-weight: 500;
    font-size: 3rem;
}
.form{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-group{
    height: 4rem;
    width: 30rem;
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
}
.form-control{
    padding: 1rem 1rem;
    margin: 0.8rem 0;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    border: 0.5px solid black;
    border-radius: .3rem;
}
  
.form-control:hover{
    border: 0.5px solid rgb(59, 59, 59);
    background-color: whitesmoke;
}
.btn-submit{

  margin-top: 4rem;
  align-items: center;
  appearance: none;
  background-color: #01dc82;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.btn-submit:hover{
    transform: scale(0.9);
    background-color: white;
    color: #0c3f36;
}
label{
    color: white;
    font-weight: 500;
}
span{
    color:#01dc82;
}

@media screen and (max-width: 768px){
    .heading{
        font-size: 2rem;
    }
    .form-group{
        height: 4rem;
        width: 20rem;
        margin-top: 2rem;
        display: flex;
        flex-direction:column;
    }
}